body {
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: auto;
}

/* Header Styling */
header {
  height: auto;
  display: block;
}

header .logo-container {
  text-align: center;
}
header .logo-container .logo {
  height: 80px;
}

header .account-container {
  text-align: center;
  padding-top: 5px;
}
header .account-container .logout {
  padding-top: 5px;
}


@media (min-width: 576px) {
  header .logo-container {
    text-align: left;
  }

  header .account-container {
    text-align: right;
  }
}








.donut-item {
  text-align: center;
  background-color: rgba(255, 102, 102,.3);
  padding: 5% 2.5%;
  margin: 1%;
  border-radius: 15px;
}
